.header {
    background-color: #bb5432;
    width: 600px;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    &-title {
        font-size: 70px;
        font-family: system-ui;
        font-weight: 600;
    }
    &-current {
        font-size: 40px;
        font-weight: lighter;
        font-family: system-ui;
    }
}